*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {  
    display: block;
 
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    line-height: 24px;

}

.container{
    display: flex;
    padding: 40px;
    margin: 0 auto;
    max-width: 1300px;
    background-color: #FFFFFF;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);

}



.section__sidebar{
    display: flex;
    flex-direction: column;
    
   
    color: #FFFFFF;
    background-color: #1E2939;
    /* width: 30%;
    height: 100%; */
    margin-right: 80px;
    
}

.sidebar__padding{
    padding: 0 40px 40px 40px;
}

.section-sidebar__img {
    width: 370px
}


.contacts {
    margin-top: 50px;
    /* margin-left: 50px; */
   
}

.contacts__list {
    list-style-type: none;
}

.contacts__link {
 
    font-weight: 700;
    margin-right: 10px;
    
}

.contacts__item{
    opacity: 0.5;
}


.skills {
   
    margin-top: 50px;
    /* margin-left: 50px; */
}



.title {
    margin-bottom: 10px;
    font-size: 22px;
line-height: 27px;
}



.skills__list {
    margin-left: 15px;
}

.skills__list::marker{
    
    color: #FB6D3A;

}


.general{
    display: flex;
    flex-direction: column;
   
}

.name-title {
    font-weight: 700;
font-size: 45px;
line-height: 55px;
margin-bottom: 20px;
}

.work-title {
    font-weight: 700;
line-height: 17px;
margin-bottom: 24px;
}

.about {
    margin-bottom: 40px;
}

.about__myself{
    color: #595959;
}


a {
    color: #FB6D3A;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}

.projects__list {
    color: #595959;
    margin-left: 15px;
    margin-bottom: 20px;
}

.projects__list:last-child{
    margin-bottom: 0px;
}


.work__list {
    color: #595959;
    list-style-type: none;
}

.job {
    font-weight: 700;
font-size: 16px;
line-height: 20px;
margin-bottom: 10px;
}

.work__period {
    color: #A8A8A8;
    font-size: 12px;
line-height: 15px;
}